{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ "comment.add_comment" | trans }}{% endblock%}

{% block body %}
    <h1>{{ "comment.add_comment_for_blog_post" | trans }} "{{ comment.blog.title }}"</h1>
    {% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}
